---
layout: default
---

<div class="gallery">
    <div class="gallery-intro">
        <p>Since our inception in 2010, we've had the pleasure of hosting dozens of fantastic concerts at Stanford. Some highlights include <b>Steve Aoki, Modest Mouse, MGMT, Kaytranada, Fetty Wap,</b> and <b>Flume</b>.</p>
        <p>Check out the posters below from some of our past shows!</p>
    </div>
    {% for image in site.static_files %} {% if image.path contains 'img/posters' %}
    <a href="{{ image.path }}">
        <img src="{{ image.path }}">
    </a>
    {% endif %} {% endfor %}
</div>
