---
layout: default
---

<div class="gallery">
    {% for image in site.static_files %}
        {% if image.path contains 'img/posters' %}
            <a href="{{ image.path }}">
                <img src="{{ image.path }}">
            </a>
        {% endif %}
    {% endfor %}
</div>

<link href="//cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.21/css/lightgallery.min.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.21/js/lightgallery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.21/js/lg-thumbnail.min.js"></script>

<script>$('.gallery').lightGallery({thumbnail: true})</script>
