---
layout: default
---

<div class="container main-info">
    <div class="row caption">
        <div class="col col-md-6 col-lg-6">
            <h1 style="padding-bottom: 8px">
                Stanford Concert Network
            </h1>
            <p class="lead">We are a student organization at Stanford University dedicated to bringing live music to the Stanford bubble. We organize the annual Frost Music &amp; Arts Festival in May as well as host frequent shows featuring rising artists of diverse styles. Our mission is to provide our student members with educational experiences within the music industry, sound tech, marketing, finances, and more.</p>
            {% for event in site.events %}
                <a href="{{ event.link }}" target="blank">
                    <p>
                        {{ event.title }}<br>
                        {{ event.date }}<br>
                        {{ event.location }}
                        <a href="{{ event.link }}"><i class="fa fa-facebook-square pull-right"></i></a>
                    </p>
                </a>
            {% endfor %}
            <!--
            <p id="suggest-txt">What artist do you want us to bring to campus next?</p>
            <input type="text" id="suggest-input">
            <button id="suggest-btn">Submit</button>
            -->
        </div>
        <!-- <div class="col-md-2 col-lg-3">&nbsp;</div> -->
        <!-- <div class="col col-md-5"> -->
        <!--     <p class="lead">Stanford Concert Network is a student organization at Stanford University dedicated to bringing live music to the Stanford bubble. We organize the annual Frost Music &amp; Arts Festival in May as well as host frequent shows featuring rising artists of diverse styles. Our mission is to provide our student members with educational experiences within the music industry, sound tech, marketing, finances, and more.</p> -->
        <!-- </div> -->
    </div>
</div>


<div class="carousel slide">
    <div class="carousel-inner">
        {% assign first = true %}
        {% for image in site.static_files %}
            {% if image.path contains 'img/splashes' %}
                <div class="item {% if first %} active {% endif %}">
                    <div class="fill" style="background-image:url({{ image.path }});"></div>
                </div>
                {% assign first = false %}
            {% endif %}
        {% endfor %}
    </div>
</div>

<script> $('.carousel').carousel({pause: false}) </script>
