---
layout: default
---

<div class="carousel slide">
    <div class="carousel-inner">
        <div class="container">
            <div class="main-info carousel-caption">
                <h1>
                    Stanford<br>
                    Concert<br>
                    Network
                </h1>
                <br><br>
                <a href="{{ site.event.link }}" target="blank">
                    <p>
                        {{ site.event.title }}<br>
                        {{ site.event.date }}<br>
                        {{ site.event.location }}
                        <i class="fa fa-facebook-square pull-right"></i>
                    </p>
                </a>
            </div>
        </div>
        {% assign first = true %}
        {% for image in site.static_files %}
            {% if image.path contains 'images/splashes' %}
                <div class="item {% if first %} active {% endif %}">
                    <div class="fill" style="background-image:url({{ image.path }});"></div>
                </div>
                {% assign first = false %}
            {% endif %}
        {% endfor %}
    </div>
</div>

<script>$('.carousel').carousel({pause: false})</script>
