---
layout: default
---
<div class="caption">
    <p class="lead"><b>Stanford Concert Network</b> is a student organization at Stanford University dedicated to bringing live music to the Stanford bubble. We organize the annual Frost Music &amp; Arts Festival in May as well as host frequent shows featuring rising artists of diverse styles. Our mission is to provide our student members with educational experiences within the music industry, sound tech, marketing, finances, and more.</p>
</div>

<div class="carousel slide">
    <div class="carousel-inner">
        {% assign first = true %}
        {% for image in site.static_files %}
            {% if image.path contains 'img/splashes' %}
                <div class="item {% if first %} active {% endif %}">
                    <div class="fill" style="background-image:url({{ image.path }});"></div>
                </div>
                {% assign first = false %}
            {% endif %}
        {% endfor %}
    </div>
</div>

<script>$('.carousel').carousel({pause: false})</script>
