@import url("navbar.css");
@import url("carousel.css");

/* MAIN INFO */

.main-info {
    margin-bottom: 125px;
}

.caption {
    top: 0;
}

.caption .col {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    text-shadow: none;
    text-align: left;
    color: #fff;
}

.caption .col h1 {
    font-size: 4em;
}

.caption .col p {
    font-size: 1.5em;
}

.caption .col a {
    color: #fff;
}

#suggest-input {
    background: none;
    border: none;
    border-bottom: 2px white solid;
    font-size: 1.5em;
}

#suggest-btn {
    background: none;
    border: none;
    font-size: 1.5em;
}

#suggest-input:focus,
#suggest-btn:focus {
    outline: none;
}

/* TEAM PAGE */

.team .thumbnail {
    padding: 0;
    background-size: cover;
    background-position: center center;
    height: 400px; /* total height */
    border-radius: 5px;
    position: relative;
}

.team .thumbnail > .top-box {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px;
    margin: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.team .thumbnail .top-content > h3 {
    margin-top: 5px;
    margin-left: 5px;
    color: #fff;
}

.team .thumbnail > .bottom-box {
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 1em;
    padding-top: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.team .thumbnail .dl-horizontal {
    margin: 0;
    padding-bottom: 10px;
}

.team .thumbnail > .bottom-box a {
    color: #fff;
}

@media all {
    .team .thumbnail .dl-horizontal dt {
        width: 113px;
        text-align: right;
        float: left;
    }
    .team .thumbnail .dl-horizontal dd {
        margin-left: 133px;
    }
}

/* EVENTS PAGE */
.events img {
    max-width: 100%;
    margin-bottom: 20px;
}

.events p {
    text-align: center;
}

/* NEWS PAGE */

.news .post .title span {
}

.news .post .title h1 {
    margin-top: 0;
}

.news .post .title a {
    color: black;
}

.news .post img {
    max-width: 100%;
}

.news .footer {
    text-align: center;
}

.news .footer .pagination {
    margin-top: 0;
}

.news-single {
    margin-top: 30px;
}

/* GALLERY PAGE */

.gallery {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.gallery-intro {
    padding: 2em 10em 2em 10em;
}

@media (max-width: 767px) {
    .gallery-intro {
        padding: 1em 0.5em 0 0.5em;
    }
}

.gallery a img {
    margin: 10px;
    max-width: 40%;
    max-height: 400px;
}
