body, html {
	height: 100%;
}

body {
	background: none;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel,
.item {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.main-info {
	top: initial;
	left: initial;
	right: initial;
	bottom: initial;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 30px;
	text-shadow: none;
}

.main-info h1 {
	font-size: 4em;
}

.main-info p {
	font-size: 1.5em;
}

.main-info a {
	color: #fff;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-inverse {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover {
    border-bottom: 5px solid #fff;
    background-color: initial;
}

.navbar-nav>li>a {
    padding: 0;
    padding-bottom: 5px;
    margin: 15px;
}

.navbar-social {
    font-size: 1.3em;
    height: 61px;
}

.navbar-inverse .navbar-toggle {
	color: #fff;
	border-color: #fff;
	border-width: 5px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 6px;
    margin-left: 10px;
}

.navbar-collapse {
    padding: 0;
}

.navbar-collapse .navbar-nav {
    margin: 0;
}

@media (max-width: 767px) {
    .navbar-collapse .navbar-nav > li > a:hover,
    .navbar-collapse .navbar-nav > .active > a,
    .navbar-collapse .navbar-nav > .active > a:hover {
        border-bottom: none;
    }
}

.gallery {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.gallery a img {
    margin: 10px;
    max-width: 40%;
    max-height: 400px;
}
