body, html {
	height: 100%;
}

body {
	background: none;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.main-info {
	top: initial;
	left: initial;
	right: initial;
	bottom: initial;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 30px;
	text-shadow: none;
}

.main-info h1 {
	font-size: 4em;
}

.main-info p {
	font-size: 1.5em;
}

.main-info a {
	color: #fff;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-inverse {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover {
    border-bottom: 5px solid #fff;
    background-color: initial;
}

.navbar-nav>li>a {
    padding: 0;
    padding-bottom: 5px;
    margin: 15px;
}

.navbar-social {
    font-size: 1.3em;
    height: 61px;
}

.navbar-inverse .navbar-toggle {
	color: #fff;
	border-color: #fff;
	border-width: 5px;
}