/* NAVBAR */

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-inverse {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    border: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-weight: bold;
    padding: 0;
    padding-bottom: 5px;
    margin: 15px;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover {
    border-bottom: 2px solid #fff;
    background-color: initial;
}

.navbar-inverse .navbar-nav .navbar-social > li > a {
    margin-left: 0;
    display: inline-block;
}

.navbar-inverse .navbar-toggle {
    color: #fff;
    border-color: #fff;
    border-width: 5px;
}

.navbar-inverse .navbar-brand {
    padding: 0;
    margin-left: 20px;
}

.navbar-inverse .navbar-brand img {
    height: 37px;
}

.navbar-collapse {
    padding: 0;
}

.navbar-collapse .navbar-nav {
    padding-left: 1em;
    margin: 0;
}

.hamburger {
    border: none;
}

@media (max-width: 767px) {
    .navbar-collapse .navbar-nav > li > a:hover,
    .navbar-collapse .navbar-nav > .active > a,
    .navbar-collapse .navbar-nav > .active > a:hover {
        border-bottom: none;
    }
}
