<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ site.title }}</title>

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
    {% include analytics.html %}
</head>

<body>

    <nav class="navbar navbar-inverse {% if page.url == "/" %} navbar-fixed-bottom {% endif %}" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
                    <i class="fa fa-bars"></i> More
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/assets/img/logo_small.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="nav navbar-nav">
                    <li {% if page.url == "/team.html" %} class="active" {% endif %}>
                        <a href="/team">Meet the Team</a>
                    </li>
                    <li {% if page.url == "/gallery.html" %} class="active" {% endif %}>
                        <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="https://docs.google.com/a/stanford.edu/forms/d/e/1FAIpQLSdcJ_fVLvLKK0Jwj9njsasK1IKHF2axpHKx6eWd5SaGjXYNNg/viewform" target="blank">Co-Sponsorships</a>
                    </li>
                    <li class="visible-xs">
                        <a href="https://www.facebook.com/stanfordconcertnetwork" target="blank">Facebook</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-social pull-right hidden-xs">
                    <li>
                        <a href="https://www.facebook.com/stanfordconcertnetwork" target="blank"><i class="fa fa-facebook-square"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {{ content }}

</body>

</html>
